@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: linear-gradient(236.8deg, #041832 27.26%, #3468A7 96.03%);
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #ECF4FF;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 64px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
  }

.perfil {
    display: flex;
}

.perfil-foto {
    border-radius: 400px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);
}

.titulo {
    margin-left: 16px;
}

.titulo a {
    color: #1C1C1C;
    text-decoration: none;  
    font-weight: 400;
    font-size: 20px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.tema button {
    align-self: flex-end;
    font-size: 16px;
    padding: 8px 16px;
    background: #ECF4FF;
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid #0E1D2F;
    cursor: pointer;
  }

  .portfolio{
    margin-top: 64px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }

.projetos {
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    padding: 8px 32px;
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.projetos-titulo {
    list-style: none;
    padding-left: 0;
    font-weight: 700;
    font-size: 24px;
}

.projetos-item {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
}

.projetos-item a {
    color: #1C1C1C;
    text-decoration: none;    
}

.dark {
    background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
  }
    
  .dark .container {
    background: #333439;
    color: #F6F6F6;
  }
  
  .dark .portfolio {
    color: #1C1C1C;
  }
  
  .dark .tema button {
    color: #FFFFFF;
    background: #1C1C1C;
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid #F7F7F7;
    cursor: pointer;
  }

  .redes-sociais {
      margin-top: 50px;
  }
  
  .dark .titulo a{
      color: #F7F7F7;
  }
